.grid-container {
    height: 650px;
    width: 650px;
    background-color: rgb(240,217,181);

    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto auto;
    padding: 30px;
    /* gap: 20px; */

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

.grid-item {
    /* outline: 1px solid black; */
    aspect-ratio: 1;
    cursor: pointer;
}

.vertical-line {
    height: 100%;
    width: 100%;
    background-image: linear-gradient(#000, #000);
    background-repeat: no-repeat;
    /* background: linear-gradient(#000, #000) no-repeat center/2px 100%; */
  }

.horizontal-line {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#000, #000);
    background-size: 100% 2px;
    background-repeat: no-repeat;
    background-position: center center;
    /* background: linear-gradient(#000, #000) no-repeat center/100% 2px; */

    /* Needed for vertical centering of child */
    position: relative;
    
    /* Center content horizontally */
    display: flex;
    justify-content: center;
}

.stone {
    width: 95%;
    height: 95%;
    border-radius: 50%;
    
    /* Center Vertically */
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}